<div class="cover{{#if @site.cover_image}} image-loading{{/if}}">
    {{#if @site.cover_image}}
        <img class="cover-image u-object-fit" src="{{@site.cover_image}}" alt="{{@site.title}}">
    {{/if}}



<!-- salem added div - start -->

<div class="cover-column">

<!-- salem added div - end -->

    <div class="cover-content container">
        {{#if @site.description}}
            <div class="cover-description">{{@site.description}}</div>
        {{/if}}

        {{#unless @member}}
            <form class="form-wrapper cover-form" data-members-form>
                <input class="auth-email" type="email" data-members-email placeholder="Your email address" required="true" autocomplete="false">

                <button class="form-button" type="submit" aria-label="Submit">
                    <span class="default">Subscribe</span>
                    <span class="loader">{{> icons/loader}}</span>
                    <span class="success">Email sent</span>
                </button>
            </form>
        {{/unless}}
    </div>
{{!-- salem added div - start 
    <div class="cover-content container">


                    <div class="cover-social">
                {{#if @site.facebook}}
                    <a class="social-item social-item-facebook"
                        href="{{facebook_url @site.facebook}}" target="_blank"
                        rel="noopener noreferrer" aria-label="Facebook">
                        {{> icons/facebook}}
                    </a>
                {{/if}}



                    <a class="social-item social-item-twitter"
                        href="https://instagram.com/chicanoculturesb" target="_blank"
                        rel="noopener noreferrer" aria-label="Instagram">
                        {{> icons/instagram}}
                    </a>



                
            </div> --}}

    </div>
    {{!-- salem added div - end --}}


    {{!-- salem added div - start --}}
</div>

{{!-- salem added div - end --}}

 <button style="display:none;" class="button-icon cover-arrow">
        {{> icons/chevron-right}}
    </button> 
    <div class="cover-social-block">


                    <div class="cover-social">
                        <div style="display:flex;justify-content:center;">

                {{#if @site.facebook}}
                    <a class="social-item social-item-facebook"
                        href="{{facebook_url @site.facebook}}" target="_blank"
                        rel="noopener noreferrer" aria-label="Facebook">
                        {{> icons/facebook}}
                    </a>
                {{/if}}



                    <a class="social-item social-item-twitter"
                        href="https://instagram.com/chicanoculturesb" target="_blank"
                        rel="noopener noreferrer" aria-label="Instagram">
                        {{> icons/instagram}}
                    </a>
                    </div>

            </div>

            <footer class="cover-footer">
            {{> footer-cover}}
    </footer>

    </div>



</div>
